.chips {
  display: flex;
  align-self: flex-start;
  padding: 16px 0;

  &__button {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #434343;
    border: none;
    border-radius: 18px;
    background-color: #F0F0F0;
    padding: 4px 24px;
    margin-right: 16px;
    transition: all 0.3s ease-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      color: #fff;
      background: #FB9155;
      transition: all 0.3s ease-out;
    }

    &:active {
      cursor: pointer;
      color: #fff;
      background: #EB6012;
      transition: all 0.3s ease-out;
    }

    &_active {
      color: #fff;
      background-color: #EB6012;
      transition: all 0.3s ease-out;

      &:hover {
        background-color: #CB540F;
        transition: all 0.3s ease-out;
      }
    }
  }
}
