.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url(../../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 340px;
  max-width: 1920px;
  box-sizing: border-box;
  padding: 190px 30px 128px;
  position: relative;

  &__form {
    position: relative;
    z-index: 2;
    max-width: 740px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(31, 31, 31, 0.6);
    z-index: 1;
  }

  &__buttons-overlay {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
  }

  @media (max-width: 1100px) {
    &__form {
      width: calc(100vw - 140px);
    }
  }

  @media (max-width: 768px) {
    padding: 150px 30px 100px;

    &__form {
      width: calc(100vw - 40px);
      min-width: 320px;
    }
  }

  @media (max-width: 500px) {
    &__buttons-overlay {
      display: flex;
      justify-content: center;
    }
  }
}
