.country-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 8px;

  &__title {
    text-align: center;
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 51px;
    margin: 0 0 16px;
  }

  &__swiper-overlay {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__btn-prev {
    position: absolute;
    left: -47px;
    top: 72px;
    width: 24px;
    height: 16px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s ease-out;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }

  &__btn-next {
    position: absolute;
    right: -47px;
    top: 72px;
    width: 24px;
    height: 16px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s ease-out;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }

  .swiper {
    display: flex;
    overflow: visible;
  }

  .swiper-slide {
    width: auto !important;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    letter-spacing: 0.5px;
    opacity: 0.4;

    &:hover {
      cursor: grab;
      opacity: 1;
      transition: opacity 0.3s ease-out;
    }

    &:active {
     cursor: grabbing;
    }

    &.swiper-slide-active {
      opacity: 1;
      font-weight: 600;
    }

    &.swiper-slide-next, &.swiper-slide-prev {
      opacity: 0.65;
      font-weight: 500;

      &:hover {
        opacity: 1;
        transition: opacity 0.3s ease-out;
       }
    }
  }

  &__line {
    border: 0;
    margin: 0 0 12px;
    height: 2px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 51.04%, rgba(255, 255, 255, 0.1) 100%);
  }

  &__subtitle {
    font-size: 21px;
    line-height: 36px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
  }
}
